@import '../0.helpers/variables';
@import '../0.helpers/mixins';

button {
  background-color: $black;
  color: $bananaYellow;
  border: 1px solid $bananaYellow;
  border-radius: 10px;
  font-size: calc(0.5rem + 1.5vw);
  padding: 1%;
  width: 40%;
  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $bananaYellow;
    color: $black;
    border: 1px solid $black;
    transition: 1s;
  }
}