h1 {
  font-size: calc(1.5rem + 1vw);
}

h2 {
  font-size: calc(1.2rem + 1vw);
}

h3 {
  font-size: calc(1rem + 1vw);
}

h4 {
  font-size: calc(1rem + 0.8vw);
}

h5 {
  font-size: calc(1rem + 0.6vw);
}

p {
  font-size: calc(1rem + 0.4vw);
}