@import '../0.helpers/variables';
@import '../0.helpers/mixins';

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $bananaYellow;
  color: $bananaYellow;
  text-align: center;
  transition: 0.5s;

  &:hover {
    border-bottom: 2px solid $bananaYellow;
    transition: 0.5s;

    &::placeholder {
      font-weight: bold;
    }
  }

  &::placeholder {
    color: $bananaYellow;
  }
}