@import '../0.helpers/variables';
@import '../0.helpers/mixins';

header {
  width: 100vw;
  @include flexCenter(column);
  margin-bottom: 8%;
  
  & h1 {
    color: $bananaYellow;
    text-align: center;
  }
}